<%- include("partials/header") %>

<div class="container ui main text segment">
    <h1>Add New Edit Post</h1>
    <form class="ui form" action="/blogs" method="post">
        <div class="field">
            <label>Title</label>
            <input type="text" name="title" placeholder="title">
        </div>
        <div class="field">
            <label>Image URL</label>
            <input type="text" name="image" placeholder="image  URL">
        </div>
        <div class="field">
            <label>Vlog Content</label>
            <textarea name="body"></textarea>
        </div>
            <input type="submit" class="ui violet big basic button">
    </form>
</div>



<%- include("partials/footer") %>