
i.code{
    font-size: 1.6em;
}

.fall.ui.text.container{
    margin: 6rem 0 2rem; 
 
}
.extrameta{
    color: rgb(160, 160, 160);
    font-size: 12px;
}
input[type="checkbox"]{
    display: none;
    cursor: pointer;
}
.mr{
    margin-right: 20px;
}
.cursor{
    cursor: pointer;
}
.space{
    padding: 0.4rem;
}
img {
    border-style: none;
    width: 15rem;
    height: 10rem;
}
.ui.items>.item>.image>img {
    display: block;
    width: 100%;
    border-radius: .125rem;
    border: none;
    height: 13rem;
    margin: 0;
}
.ui.items>.item>.content p:last-child {
    margin-bottom: 0;
    font-size: 14px;
}

.ui.button:not(.icon)>.right.icon:not(.button):not(.dropdown) {
    margin: 0;
    /* padding-right: 4px; */
}
.ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
    margin: 0 ;
    /* padding-right: 4px; */
}
@media only screen and (max-width: 767px){}
.ui.items:not(.unstackable)>.item>.image, .ui.items:not(.unstackable)>.item>.image>img {
    max-width: 100%!important;
    width: auto!important;
    max-height: 250px!important;
    margin: 0;
}

footer{
    padding: 2rem;
    color: rgb(214, 214, 214);
    background-color: rgba(0, 0, 0, 5);
}
footer p{
    margin: 0 auto;
    text-align: center;
}