@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

body{
    background: rgba(83, 147, 158, 0.918);
    height: 0;
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
i.code{
    font-size: 1.6em;
}
.header{
    text-transform: capitalize;
}
.container.ui.show.fall{
    position: relative;
    bottom: 0;
    margin: 6rem 0 10rem;
    height: min-content; 
    box-shadow: 3px 3px 1px 2px rgb(238, 238, 238, 5);
}

.fall.ui.text.container{
    margin: 6rem 0 3rem; 
    box-shadow: 2px 1px 1px 2px rgb(160, 158, 158);
}
.extrameta{
    color: rgb(160, 160, 160);
    font-size: 12px;
}
input[type="checkbox"]{
    display: none;
    cursor: pointer;
}
.mr{
    margin-right: 20px;
}
.cursor{
    cursor: pointer;
}
.space{
    padding: 0.4rem;
}
img {
    border-style: none;
    width: 15rem;
    height: 10rem;
}
.ui.items>.item>.image>img {
    display: block;
    width: 100%;
    border-radius: .125rem;
    border: none;
    height: 13rem;
    margin: 0;
}
.ui.items>.item>.content p:last-child {
    margin-bottom: 0;
    font-size: 14px;
}

.ui.button:not(.icon)>.right.icon:not(.button):not(.dropdown) {
    margin: 0;
    /* padding-right: 4px; */
}
.ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
    margin: 0 ;
    /* padding-right: 4px; */
}
@media only screen and (max-width: 767px){}
.ui.items:not(.unstackable)>.item>.image, .ui.items:not(.unstackable)>.item>.image>img {
    max-width: 100%!important;
    width: auto!important;
    max-height: 250px!important;
    margin: 0;
}

@media only screen and (max-width: 1025px){
    .ui.container {
        width: 100%!important;
        margin-left: 0!important; 
        margin-right: 0!important;
        box-sizing: border-box;
    }

    .ui.text.container {
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        max-width: 100%!important;
        line-height: 1.5;
    }
}


/* @media (min-width: 1040px){

    body{
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }
    .container.ui.show.fall{
        width: 100%;
    }
} */
footer{
    padding: 2rem;
    color: rgb(214, 214, 214);
    background-color: rgba(0, 0, 0, 5);
    width: 100%;    
}
footer p{
    margin: 0 auto;
    text-align: center;
}